<form id="formMain">
    <div class="form-group">
        Product Name
        <input type="text" id="productName" />
    </div>
    <br>
    <div class="form-group">
        Price
        <input type="text" id="price">
    </div>
    <br>
    <div class="form-group">
        Category
        <input type="text" id="category">
    </div>
    <button type="submit" id="send">Send</button>
</form>
<main id='ContainerMain'>
    <h2>Lista de Productos</h2>
    {{> realTimeProducts }} <!-- Incrusta el parcial aquí -->
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>

