<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerse</title>
</head>
<body>
    <h1>Products</h1>
    <br>
    {{{body}}}
    <p>all on sale</p>
</body>
</html>